body{
	background-image: url("../images/background.jpeg");
	background-repeat: repeat-x;
	color: #fff;
}

.tile{
	height: 100px;
	width: 150px;
	background-color: #fff;
	border: 2px solid green;
	float: left;
	color: #000;
	text-align: center;
}

.row{
	width: 100%;
	float: left;
}

.p-title{
	float: left;
	width: 100%;
}

.character{
	height: 20px;
}

.enemies{
	height: 20px;
}

.defender{
	height: 20px;
}